<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Quarkushop</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-product">Add Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="payments">Payments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="barbarus">Barbarus</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
